html{
	margin: 0;
	padding: 0;

}
aside{
	border:1px solid black;
	height: 500px;
}
main{

	padding-left: 300px;

}
main section{
	
	border:1px solid red;	
	padding: 30px;

}
.img-aside{
	cursor: move;
	
	width: 50px;
	height: 50px;
}
.img-aside:hover	{
	border: 1px solid red;
}
.drop{
	float:left;
	width: 150px;
	height: 150px;
	
}
.dropimg{

	width: 150px;
	height: 150px;
}
.llegan{
	width: 500px;
	height: 500px;
	background-color: gray;
}
